<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sustain-Hack</title>
    <link rel="stylesheet" href="/CSS/form.css">
    <link rel="stylesheet" href="/CSS/header.css">
    <link rel="stylesheet" href="/CSS/home.css">
</head>

<body>
    <nav>
        <img src="https://cdn-icons.flaticon.com/png/512/3658/premium/3658345.png?token=exp=1644643369~hmac=f014af73143c10f31974f1eadbc8f783" alt="" class="logo">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/join">Join Us</a></li>
            <li><a href="/login">Sign In</a></li>
            <li><a class="signup" href="/register">Sign Up</a></li>
        </ul>
    </nav>