<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/customer-dash.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="form">
      <div class="form-input">
        <input type="radio" name="item" id="plastic-item" value="">
        <label for="plastic-item">Hello</label>
        <div>
          <div class="title">PLASTIC BOTTLE</div>
          <div class="desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          </div>
        </div>
      </div>

      <div class="form-input">
        <input type="radio" name="item" id="metal-item" value="">
        <label for="metal-item"></label>
        <div>
          <div class="title">METAL BOTTLE</div>
          <div class="desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium eius perferendis distinctio accusamus eos eum necessitatibus quam provident? Blanditiis magni earum cumque molestiae, distinct.
          </div>
        </div>
      </div>

      <div class="form-input">
        <input type="radio" name="item" id="glass-item" value="">
        <label for="glass-item"></label>
        <div>
          <div class="title">BOTTLE</div>
          <div class="desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium eius perferendis distinctio accusamus eos eum necessitatibus quam provident? Blanditiis magni earum cumque molestiae, distinct.
          </div>
        </div>
      </div>

      <div class="form-input">
        <input type="radio" name="item" id="cardboard-items" value="">
        <label for="cardboard-items"></label>
        <div>
          <div class="title">BOTTLE</div>
          <div class="desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium eius perferendis distinctio accusamus eos eum necessitatibus quam provident? Blanditiis magni earum cumque molestiae, distinct.
          </div>
        </div>
      </div>
    </div>
  </div>
  
	
</body>

<script>
  $(document).ready(function(){
  $("#menu-toggle").click(function(e){
    e.preventDefault();
    $("#wrapper").toggleClass("menuDisplayed");
  });
});
</script>

</html>