<%- include("partials/header.ejs"); %>
<div class="home-main">     
    <div class="container-fluid">
         <div class="row heading">
            <div class="col-lg-6">
                <div class="heading-content" data-aos="fade-right">
                    <h1>Power up to save the <span>environment</span></h1>
                    <h4>Reuse. Reduce. Recycle.</h4>
                 </div>
             </div>
            <div class="col-lg-6">
        <img data-aos="fade-left" src="/Assets/earth-header.png" alt="disposing">
        </div>
        </div>
    </div>
    <div class="about-desc">
            <h1 class="text-center">How We Work</h1>

    </div>
    <%- include("recycle-section.ejs") %> 
    <%- include("process.ejs") %> 
</div>
<%- include("partials/footer.ejs"); %>