<%- include("partials/header.ejs"); %>
    <div class="home-main">
        <div class="top-banner">
            <div class="heading-content">
                <h1>..</h1>
                <h4>..</h4>
                <!-- <button type="submit" class="btn btn-dark button-28">Join Us</button> -->
            </div>
            <!-- <img src="Assets/earth.jpg" class="top-illust illust" alt=""> -->
        </div>
        <div class="about-desc">
            <h1>What do we do</h1>

        </div>
    </div>
<%- include("partials/footer.ejs"); %>