<%- include("partials/header.ejs"); %>
<div class="home-main">     
    <div class="container-fluid">
         <div class="row heading">
            <div class="col-lg-6">
                <div class="heading-content">
                    <h1>Power up to save the environment</h1>
                    <h4>Earth is our mother</h4>
                 </div>
             </div>
            <div class="col-lg-6">
        <img src="/Assets/header-img.png" alt="disposing">
        </div>
        </div>
    </div>

        <div class="about-desc">
            <h1>What do we do</h1>

        </div>
    </div>
<%- include("partials/footer.ejs"); %>