<%- include("partials/header.ejs"); %>
<section class="work">
    <h1 data-aos="fade-right">Steps to Follow : Customer</h1>
    <div data-aos="fade-right" class="underline"></div>
    <div class="steps">
         <div class="step-customer img-active">
            <img src="https://img.freepik.com/free-vector/group-happy-people-picking-up-litter-while-jogging_179970-3183.jpg?size=626&ext=jpg">
            <p><span style="color: green;">Step 1</span>: Collect things that you no longer need</p>
         </div>

          <div class="step-customer">
            <img src="https://img.freepik.com/free-vector/order-confirmed-concept-illustration_114360-1545.jpg">
            <p><span style="color: green;">Step 2</span>: Raise a Request for pick up on our website</p>
         </div>

          <div class="step-customer">
            <img src="/Assets/step2.jpg">
            <p><span style="color: green;">Step 3</span>: Pick-up arranged by us</p>
         </div>

          <div class="step-customer">
            <img src="https://img.freepik.com/free-vector/refund-concept-illustration_114360-6723.jpg?w=1800">
            <p><span style="color: green;">Step 4</span>: Sit back and wait to receive incentives!</p>
         </div>
        
    </div>
    
    <div class="container">
        <div class="progress-container">
          <div class="progress" id="progress"></div>
          <div class="circle-customer active-customer"><span>1</span></div>
          <div class="circle-customer"><span>2</span></div>
          <div class="circle-customer"><span>3</span></div>
          <div class="circle-customer"><span>4</span></div>
        </div>
      </div>
        <button class="btn" id="prev-customer" disabled>Prev</button>
        <button class="btn" id="next-customer">Next</button>


      <h1 data-aos="fade-left" style="padding-top: 5rem;">Steps to Follow : Small Business</h1>
       <div data-aos="fade-left" class="underline"></div>
      <div class="steps">
         <div class="step-business img-active">
            <img src="https://img.freepik.com/free-vector/group-happy-people-picking-up-litter-while-jogging_179970-3183.jpg?size=626&ext=jpg">
            <p><span style="color: green;">Step 1</span>: Collect things that you no longer need</p>
         </div>

          <div class="step-business">
            <img src="https://img.freepik.com/free-vector/order-confirmed-concept-illustration_114360-1545.jpg">
            <!-- <img src="https://cdni.iconscout.com/illustration/premium/thumb/purchase-from-e-wallet-2739540-2283928.png" alt=""> -->
            <p><span style="color: green;">Step 2</span>: Raise a Request for pick up on our website</p>
         </div>

          <div class="step-business">
            <img src="/Assets/step2.jpg">
            <p><span style="color: green;">Step 3</span>: Pick-up arranged by us</p>
         </div>

          <div class="step-business">
            <img src="https://img.freepik.com/free-vector/refund-concept-illustration_114360-6723.jpg?w=1800">
            <p><span style="color: green;">Step 4</span>: Sit back and wait to receive incentives!</p>
         </div>
        
    </div>
    
    <div class="container">
        <div class="progress-container">
          <div class="progress" id="progress1"></div>
          <div class="circle-business active-business"><span>1</span></div>
          <div class="circle-business"><span>2</span></div>
          <div class="circle-business"><span>3</span></div>
          <div class="circle-business"><span>4</span></div>
        </div>
      </div>
        <button class="btn" id="prev-business" disabled>Prev</button>
        <button class="btn" id="next-business">Next</button>

</section>
     
<%- include("partials/footer.ejs"); %>