.home-main{
  overflow: hidden;
}

.heading {
  text-align: center;
  padding-top: 4rem;
}

.heading img {
  height: 27rem;
  /* width:  /; */
  margin-top: 20%;
  margin-bottom: 7rem;
  object-fit: cover;
}

.heading-content {
  text-align: left;
  margin: 13rem 0 2rem 6rem;
}

.heading-content span{
color: green;
}

.heading-content h1 {
  font-family: var(--font-sans);
  font-size: 3rem;
  line-height: 1.2;
  letter-spacing: 0.05rem;
  border-bottom: solid 0.15rem;
  padding-bottom: 4%;
  font-weight: 700;
}

.heading-content h4 {
  font-family: var(--font-sans2);
  font-size: 1.8rem;
  line-height: 1;
  letter-spacing: 0.05rem;
  padding-bottom: 1.4rem;
  margin: 5% 0 1%;
}

.about-desc h1{
}